.MenuNav{
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    background: linear-gradient(90deg, rgb(0, 0, 0) 33%, rgb(255, 255, 255) 100%), rgb(0, 0, 0) 33%;
    color: white;
    
}
.MenuNav--bouton{
    display: inline;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 70px;
}
.MenuNav--bouton:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}

body{
background-image : url("https://cdn.discordapp.com/attachments/727820735585976381/730671636965097522/M.png");
background-size: 400px
}